<form method="post" action="/recipes/suggest">
	<label for="name">Recipe Title</label>
	<input type="text" name="name" id="name" value="" />

	<label for="ingredients">Ingredients</label>
	<textarea name="ingredients" id="ingredients" rows="8" cols="40"></textarea>
	
	<label for="directions">Directions</label>
	<textarea name="directions" id="directions" rows="8" cols="40"></textarea>
	
	<p><input type="submit" value="submit" /></p>
</form>